<% content_for :title, "#{@color_palette.name} Color Palette" %>
<%= turbo_stream_from @color_palette %>

<div class="w-full">
  <h1 class="font-bold text-4xl mb-4"> <%= @color_palette.name %> </h1>
  <div class="w-full flex items-center gap-4">
    <%= form_with url: color_palette_colors_path(@color_palette), model: @color_palette.colors.new do |f| %>
      <div class="flex items-center gap-4">
        <div class="flex flex-col gap-2">
          <%= f.label :hex, "Select a color" %>
          <%= f.color_field :hex %>
        </div>
        <%= f.submit "Add color", class: "px-3 py-2 rounded-lg bg-blue-500 text-blue-50 shadow-sm cursor-pointer" %>
      </div>
    <% end %>
    <%= link_to "Preview on UI", color_palette_previews_path(@color_palette), class: "px-3 py-2 rounded-lg bg-indigo-500 text-indigo-50 shadow-sm ml-auto" %>
  </div>

  <div class="min-h-[70vh] w-full mt-4 flex overflow-x-auto" id="color-palette" data-controller="sortable">
    <%= render(partial: "color", collection: @color_palette.colors.order(position: :asc)) if @color_palette.colors.reload.any? %>
  </div>

  <div class="flex gap-4 mt-8">
    <%= link_to "Edit this color palette", edit_color_palette_path(@color_palette), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= link_to "Back to color palettes", color_palettes_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy this color palette", @color_palette, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
